.cache
logs
project/project
project/target
target
tmp
.settings/
.sass-cache/
*swp
.classpath
.project
.target/
.metadata/
*~
.idea/
.idea_modules/
we-work-with-mammograms.iml
conf/evolutions/default/1.sql
.idea/
.idea_modules
