@(studyForm: play.data.Form[Study], patientId: Long)

@import helper._
@import views.html.bootstrap._
@import play.api.i18n._

@form(action = routes.Staffs.createNewStudy(patientId), Symbol("data-callback-url") -> routes.Staffs.showPatient(patientId).url, 'id -> "studyUploadForm",'role -> "form", 'enctype -> "multipart/form-data") {
        <fieldset>
          <legend>Tomas</legend>
          <div class="form-group">
            <label for="filesToUpload">Seleccione las mamografías</label>
            <input type="file" name ="filesToUpload" id="filesToUpload" multiple="" enctype="multipart/form-data">
            <p class="help-block">Imágenes deben pesar menos de 80 MB</p>
            
          </div>
        </fieldset>
        <fieldset>
          <legend>Comentarios</legend>
          @textarea(
          	field = studyForm("comments[0].content"), 
          	args = 'placeholder -> "Comentarios sobre el estudio...", 'rows -> "5", '_label -> "", 'class -> "form-control")
        </fieldset>
        <button type="submit" class="btn btn-default" data-loading-text="Cargando...">Guardar estudio</button>

}
