@(patientForm: play.data.Form[Patient])

@import helper._
@import views.html.bootstrap._
@import play.api.i18n._
@import scala.collection.JavaConverters._

@defining(Patient.availableNumberedOptions().asScala.toSeq.sortWith((o1, o2) => o1._1.toInt < o2._1.toInt)) { availableNumberedOptions =>
	@form(action = routes.Staffs.createPatient, 'role -> "form", 'class -> "form-horizontal") {
		@inputText.render(
	      	field = patientForm("personalInfo.name"),
	      	args = Array('class -> "form-control", '_label -> Messages("name")),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	      	
	    @inputText.render(
	      	field = patientForm("personalInfo.firstLastName"),
	      	args = Array('class -> "form-control", '_label -> Messages("firstLastName")),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	    
	    @inputText.render(
	      	field = patientForm("personalInfo.secondLastName"),
	      	args = Array('class -> "form-control", '_label -> Messages("secondLastName")),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	      	
	    @inputText.render(
	      	field = patientForm("personalInfo.address"),
	      	args = Array('class -> "form-control", '_label -> Messages("address")),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	      	
	    @inputText.render(
	      	field = patientForm("personalInfo.email"),
	      	args = Array('class -> "form-control", '_label -> Messages("email")),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	      	
	    @inputText.render(
	      	field = patientForm("personalInfo.telephone"),
	      	args = Array('class -> "form-control", '_label -> Messages("telephone")),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	      	
	    @inputText.render(
	      	field = patientForm("personalInfo.birthdate"),
	      	args = Array('class -> "form-control", 'placeholder -> Messages("formats.date"), '_label -> Messages("birthdate"), '_inputDivClass -> "col-md-3"),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	      	
	    <legend class="text-left" style:"padding-top:40px">@Messages("medical-info")</legend>
	    
		@inputText.render(
	      	field = patientForm("medicalInfo.sexualActivityStartAge"),
	      	args = Array('class -> "form-control", '_label -> Messages("sexual-activity-start-age"), '_inputDivClass -> "col-md-2"),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	      	
	    @select.render(
	      	field = patientForm("medicalInfo.pregnancies"),
	      	options = availableNumberedOptions,
	      	args = Array('class -> "form-control", '_label -> Messages("pregnancies"), '_inputDivClass -> "col-md-2"),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	      	
	    @select.render(
	      	field = patientForm("medicalInfo.cSections"),
	      	options = availableNumberedOptions,
	      	args = Array('class -> "form-control", '_label -> Messages("c-sections"), '_inputDivClass -> "col-md-2"),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	      	
	    @select.render(
	      	field = patientForm("medicalInfo.naturalDeliveries"),
	      	options = availableNumberedOptions,
	      	args = Array('class -> "form-control", '_label -> Messages("natural-deliveries"), '_inputDivClass -> "col-md-2"),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	      	
	    @select.render(
	      	field = patientForm("medicalInfo.abortions"),
	      	options = availableNumberedOptions,
	      	args = Array('class -> "form-control", '_label -> Messages("abortions"), '_inputDivClass -> "col-md-2"),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	      	
	    @inputText.render(
	      	field = patientForm("medicalInfo.menopauseStartAge"),
	      	args = Array('class -> "form-control", '_label -> Messages("menopause-start-age"), '_inputDivClass -> "col-md-2"),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	      	
	    @inputRadio.render(
	    	field = patientForm("medicalInfo.familyPredisposition"),
	    	options = Seq("Yes" -> "Sí", "No" -> "No"),
	    	args = Array('class -> "form-control", '_label -> Messages("family-predisposition"), '_inputDivClass -> "col-md-3"),
	    	handler = FieldConstructor(radioB.f),
	      	lang = Lang.defaultLang)
	      	
	   @inputRadio.render(
	    	field = patientForm("medicalInfo.hormonalReplacementTherapy"),
	    	options = Seq("Yes" -> "Sí", "No" -> "No"),
	    	args = Array('class -> "form-control", '_label -> Messages("hormonal-replacement-therapy"), '_inputDivClass -> "col-md-3"),
	    	handler = FieldConstructor(radioB.f),
	      	lang = Lang.defaultLang)
	      	
	   @inputRadio.render(
	    	field = patientForm("medicalInfo.previousMammaryDiseases"),
	    	options = Seq("Yes" -> "Sí", "No" -> "No"),
	    	args = Array('class -> "form-control", '_label -> Messages("previous-mammary-diseases"), '_inputDivClass -> "col-md-3"),
	    	handler = FieldConstructor(radioB.f),
	      	lang = Lang.defaultLang)
	      	
	   @inputText.render(
	      	field = patientForm("medicalInfo.menstrualPeriodStartAge"),
	      	args = Array('class -> "form-control", '_label -> Messages("menstrual-period-start-age"), '_inputDivClass -> "col-md-2"),
	      	handler = FieldConstructor(inputB.f),
	      	lang = Lang.defaultLang)
	
	   @inputRadio.render(
	    	field = patientForm("medicalInfo.breastfedChildren"),
	    	options = Seq("Yes" -> "Sí", "No" -> "No"),
	    	args = Array('class -> "form-control", '_label -> Messages("breastfed-children"), '_inputDivClass -> "col-md-3"),
	    	handler = FieldConstructor(radioB.f),
	      	lang = Lang.defaultLang)
	      	
	   @inputRadio.render(
	    	field = patientForm("viewComments"),
	    	options = Seq("Yes" -> "Sí", "No" -> "No"),
	    	args = Array('class -> "form-control", '_label -> Messages("can-view-comments"), '_inputDivClass -> "col-md-3"),
	    	handler = FieldConstructor(radioB.f),
	      	lang = Lang.defaultLang)
	      	
	   @inputRadio.render(
	    	field = patientForm("viewAnnotations"),
	    	options = Seq("Yes" -> "Sí", "No" -> "No"),
	    	args = Array('class -> "form-control", '_label -> Messages("can-view-annotations"), '_inputDivClass -> "col-md-3"),
	    	handler = FieldConstructor(radioB.f),
	      	lang = Lang.defaultLang)
	      	
		<!-- <div class="form-group">
	    <label for="inputText" class="col-md-2 control-label">¿Tiene predisposición familiar?:</label>
	    <div class="col-md-2 text-left">
	      <label class="radio-inline">
	        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Sí</label>
	      <label class="radio-inline">
	        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >No</label>
	    </div>
	  </div>-->
	    	
	      	
	    <div class="form-group">
	      <div class="col-md-10">
	        <div class="col-sm-10">
	          <button type="submit" class="btn btn-primary">Crear paciente</button>
	          <a href="@routes.Staffs.staff" class="btn btn-default">Regresar</a>
	        </div>
	      </div>
	    </div>   	
	}
}
