@(studyForm: play.data.Form[Study], owner: Patient, studyOpt: Option[Study] = None)

@import helper._
@import views.html.bootstrap._
@import play.api.i18n._

@form(action = studyOpt.map(study => routes.API.updateStudy(owner.getId, study.getId)).getOrElse(routes.Staffs.createNewStudy(owner.getId)),
      Symbol("data-callback-url") -> routes.Staffs.showPatient(owner.getId).url,
      'id -> studyOpt.map(_ => "studyUpdateForm").getOrElse("studyUploadForm"),
      'role -> "form",
      'enctype -> "multipart/form-data") {
        <fieldset>
          <legend>Tomas</legend>
          @for(study <- studyOpt) {
            @for(mammogram <- study.getMammograms) {
              <p>
                @mammogram.getId |
                <a href="@routes.Staffs.showMammogram(study.getId, mammogram.getId)">Abrir</a> |
                <a href="@routes.Staffs.renderMammogram(study.getId, mammogram.getId)" download="@{study.getCreatedAt}_@{study.getId}_@{mammogram.getId}">Descargar</a>
              </p>
            }
          }
          <div class="form-group">
            <label for="filesToUpload">@studyOpt.map(_ => "Agregar tomas").getOrElse("Seleccione las tomas")</label>
            <input type="file" name ="filesToUpload" id="filesToUpload" multiple="" enctype="multipart/form-data">
            <p class="help-block">Imágenes deben pesar menos de 80 MB</p>
          </div>
        </fieldset>
        <fieldset>
          <legend>Comentarios</legend>
          @for(study <- studyOpt) {
            @for(comment <- study.getComments.sortWith(_.getCreatedAt.getTime > _.getCreatedAt.getTime)) {
              <div class"col-md-8">
                <pre>@comment.getContent - <b>@comment.getCommenter.getRole.capitalize @comment.getCommenter (@helpers.DateHelper.getDateFormat(comment.getCreatedAt))</b></pre>
              </div>
            }
          }
          @textarea(
            //field = studyForm(s"comments[${studyOpt.map(_.getComments.size).getOrElse(0)}].content"), 
            field = studyForm("comments[0].content"), 
          	args = 'placeholder -> "Comentarios sobre el estudio...", 'rows -> "5", '_label -> "", 'class -> "form-control")
        </fieldset>

        <button type="submit" class="btn btn-primary" data-loading-text="Cargando...">Guardar estudio</button>
        <a class="btn btn-default" href="@routes.Staffs.showPatient(owner.getId)">Regresar</a>

}
