@import 'bootstrap';

body {
  .staff-patient-search {
    padding-bottom: 25px;
  }

  .staff-patient-types-wrap {
    overflow: hidden;

    .staff-patient-types {
      margin-bottom: -99999px;
      padding-bottom: 99999px;

      &.staff-patient-type-own {
        background-color: $state-success-bg;
      }

      &.staff-patient-type-shared {
        background-color: $state-info-bg;
      }

    }
  }

  .staff-patients {
    .clickable-row {
      cursor: pointer;
    }
  }
}
