@(title: String, moreCss: Html = Html(""), moreScripts: Html = Html(""))(angularApp: String, angularCtrl: String)(content: Html)

<!DOCTYPE html>

<html ng-app="@angularApp">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="images/favicon.ico">
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link href="@routes.Assets.at("stylesheets/application.css")" rel="stylesheet">
        @moreCss
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/affix.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/alert.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/button.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/carousel.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/collapse.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/dropdown.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/tab.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/transition.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/scrollspy.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/modal.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/tooltip.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/popover.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/angular.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/xeditable.js")"></script>
    </head>
    <body ng-controller="@angularCtrl">
        @content
        @moreScripts
    </body>
</html>
