@(id: Long, userName: String)

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
}


@main("Editar Paciente", moreCss) {
    <!-- Render top navbar -->
    @staffnavbar(userName)

    <div class="container">

        <div class="starter-template">

        <h1 style="padding-bottom:20px">@userName</h1>
        
<legend>Información General del Paciente</legend>

<div class="col-md-6 col-xs-12"> 
     <h3>Información Personal</h3><br>

        <div class="form-group">
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Nombre del paciente:</label>
        </div>
        <div class="col-md-6 col-xs-6">
        <input type="text" class="form-control" id="patientName">
        </div>
        </div>
        </div>

        <div class="form-group">
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Dirección:</label>
        </div>
         <div class="col-md-6 col-xs-6">
        <textarea class="form-control" rows="3" id="patientAddress"></textarea>
         </div>
         </div>
         </div>  
         
        <div class="form-group">
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Correo Electrónico:</label>
        </div>
         <div class="col-md-6 col-xs-6">
        <input type="text" class="form-control" id="patientEmail">
         </div>
        </div>
         </div>

        <div class="form-group">
        <div class="col-md-12 col-xs-12">
         <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Teléfono:</label>
        </div>
         <div class="col-md-6 col-xs-6">
        <input type="text" class="form-control" id="patientNumber">
         </div>
         </div>
        </div>

        <div class="form-group">
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Fecha de Nacimiento:</label>
        </div>
         <div class="col-md-6 col-xs-6">
            <div class="col-md-4 col-xs-4">
              <input type="text" class="form-control" id="inputText" placeHolder="DD">
            </div>
            <div class="col-md-4 col-xs-4">
              <input type="text" class="form-control" id="inputText" placeHolder="MM">
            </div>
            <div class="col-md-4 col-xs-4">
              <input type="text" class="form-control" id="inputText" placeHolder="AA">
            </div>
         </div>
     </div>
     </div>
</div>

<div class="col-md-6 col-xs-12"> 
<h3>Información médica</h3><br>

        <div class="form-group">
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Edad de inicio de actividad sexual:</label>
        </div>
         <div class="col-md-2 col-xs-2">
              <input type="text" class="form-control" id="inputText">
         </div>
         </div>
         </div>

        <div class="form-group">
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Número de embarazos:</label>
        </div>
         <div class="col-md-2 col-xs-2">
        <input type="text" class="form-control" id="inputText">
         </div>
         </div>
        </div>

        <div class="form-group">
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Número de césareas:</label>
        </div>
         <div class="col-md-2 col-xs-2">
        <input type="text" class="form-control" id="inputText">
         </div>
         </div>
         </div>

        <div class="form-group">
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Número de partos naturales:</label>
        </div>
         <div class="col-md-2 col-xs-2">
        <input type="text" class="form-control" id="inputText">
         </div>
         </div>
        </div>


        <div class="form-group">
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Número de abortos:</label>
        </div>
         <div class="col-md-2 col-xs-2">
        <input type="text" class="form-control" id="inputText">
         </div>
         </div>
        </div>


        <div class="form-group">
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Edad de inicio de menopausia:</label>
        </div>
         <div class="col-md-2 col-xs-2">
        <input type="text" class="form-control" id="inputText">
         </div>
         </div>
         </div>


        <div class="form-group">
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Edad de inicio de periodo menstrual</label>
        </div>
         <div class="col-md-2 col-xs-2">
        <input type="text" class="form-control" id="inputText">
         </div>
         </div>
        </div>
</div>


<legend>Estudios del Paciente</legend>


<div class="col-md-12 col-xs-12"> 
      <h2>2 de febrero de 2014</h2>
      <br>
      <p>
        Toma 1 |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>
      <p>
        Toma 2 |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>
      <p>
        Toma 3 |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>
      <p>
        Toma 4 |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>

</div>

<center><a href="@routes.Application.staff" class="btn btn-primary">Guardar paciente</a>
</center><br>

    </div>
    
  </div><!-- /.container -->


}

