@()

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/signin.css")" rel="stylesheet">
}

@main("Iniciar Sesi—n", moreCss) {

	<h1 align="center">Bienvenido!</h1>

    <div class="container">

      <form class="form-signin" role="form" method="GET" action="@routes.Application.staff">
        <input name="email" class="form-control" placeholder="Correo electr—nico" required="" autofocus="" type="email">
        <input name="password" class="form-control" placeholder="Contrase–a" required="" type="password">
        <label class="checkbox">
          <input value="remember-me" type="checkbox"> Recordarme
        </label>
        <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesi—n</button><br>
        <a href="" style="float:right">ÀOlvidaste tu contrase–a?</a>
      </form>

    </div> <!-- /container -->

}
