@(form: play.data.Form[Application.Login])


@moreCss = {
  <link href="@routes.Assets.at("stylesheets/signin.css")" rel="stylesheet">
}

@views.html.layouts.main("Iniciar Sesión", moreCss) {
	<div class="container">	
		@helper.form(routes.Application.authenticate, 'class -> "form-signin", 'role -> "form"){
			<h1 align="center">¡Bienvenido!</h1>
			@if(form.hasGlobalErrors) {
	    		<p class="error">
	        		@form.globalError.message
	    		</p>
			}
			<input name="email" class="form-control" placeholder="Correo electrónico" required="" autofocus="" type="email">
			<input name="password" class="form-control" placeholder="Contraseña" required="" type="password">
			<label class="checkbox">
				<input value="remember-me" type="checkbox"> Recordarme
			</label>
			<button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button><br>
			<a href="" style="float:right">¿Olvidaste tu contraseña?</a>
		}
	</div> <!-- /container -->
}
