@(userName: String, patientForm: play.data.Form[Patient])

@import views.html.forms._

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
}

@main("Nuevo Paciente", moreCss) {
  <!-- Render top navbar -->
  @staffnavbar(userName)

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h1 style="padding-bottom:20px">Nuevo Paciente</h1>

        <legend class="text-left">Información Personal</legend>

        @formForPatient(patientForm)

      </div><!-- end of /.col-md-8 .col-md-offset-2 -->
    </div><!-- end of /.row -->
  </div><!-- /.container -->
}
