@(userName: String)

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
}


@main("Nuevo Paciente", moreCss) {
  <!-- Render top navbar -->
  @staffnavbar(userName)

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h1 style="padding-bottom:20px">Nuevo Paciente</h1>

        <legend class="text-left">Información Personal</legend>

        @formForPatient(Option(userName))

        <button type="button" class="btn btn-primary">Crear paciente</button>

      </div><!-- end of /.col-md-8 .col-md-offset-2 -->
    </div><!-- end of /.row -->
  </div><!-- /.container -->
}
