@(userName: String, staffForm: Form[Staff])

@import helper._

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
}


@main("Nuevo Staff", moreCss) {
    <!-- Render top navbar -->
    @staffnavbar(userName)

    <div class="container">
      <div class="col-md-10 col-md-offset-2">

        <h1 style="padding-bottom:20px">Nuevo Staff</h1>
    
        <legend class="text-left">Información Personal</legend>

        <form class="form-horizontal" role="form" method="POST" action="@routes.Admin.createStaff">

          <div class="form-group">
            <div class="col-md-3">
              <label for="name" class="control-label">Nombre:</label>
              </div>
              <div class="col-md-7">
                @inputText(staffForm("name"), 'class -> "form-control")
              </div>    
          </div>	

          <div class="form-group">
            <div class="col-md-3">
              <label for="firstLastName" class="control-label">Apellido paterno:</label></div>
              <div class="col-md-7">
                @inputText(staffForm("firstLastName"),  'class -> "form-control")
              </div>
            </div>

          <div class="form-group">
            <div class="col-md-3">
              <label for="secondLastName" class="control-label">Apellido Materno:</label></div>
              <div class="col-md-7">
              @inputText(staffForm("secondLastName"),  'class -> "form-control")
              </div>
            </div>

          <div class="form-group">
            <div class="col-md-3">
              <label for="address" class="control-label">Dirección:</label></div>
              <div class="col-md-7">
              	@textarea(staffForm("address"),  'class -> "form-control")
              </div>
            </div>

          <div class="form-group">
            <div class="col-md-3">
              <label for="email" class="control-label">Correo Electrónico:</label></div>
              <div class="col-md-7">
                @inputText(staffForm("email"),  'class -> "form-control")
              </div>
            </div>

          <div class="form-group">
            <div class="col-md-3">
              <label for="telephone" class="control-label">Teléfono:</label></div>
              <div class="col-md-7">
              	@inputText(staffForm("telephone"),  'class -> "form-control")
              </div>
            </div>

          <div class="form-group">
            <div class="col-md-3">
            <label for="staffBD" class="control-label">Fecha de Nacimiento:</label></div>
            <div class="col-md-1">
              <input type="text" class="form-control" id="inputText" placeHolder="DD">
            </div>
            <div class="col-md-1">
              <input type="text" class="form-control" id="inputText" placeHolder="MM">
            </div>
            <div class="col-md-1">
              <input type="text" class="form-control" id="inputText" placeHolder="AA">
            </div>
          </div>

             <div class="form-group">
            <div class="col-md-3">
            <label for="role" class="control-label">Rol:</label></div>
            <div class="col-md-2">
              @select(staffForm("role"),  Seq("Doctor" -> "Doctor", "Radiologo" -> "Radiologo", "Enfermero" -> "Enfermero"), 'class -> "form-control")
            </div>
          </div> 


        <div class="form-group">
            <div class="col-md-3">
              <label for="RFC" class="control-label">RFC:</label></div>
              <div class="col-md-5">
                @inputText(staffForm("RFC"),  'class -> "form-control")
              </div>
            </div>

        <div class="form-group">
            <div class="col-md-3">
              <label for="cedula" class="control-label">Cédula:</label></div>
              <div class="col-md-5">
              	@inputText(staffForm("cedula"),  'class -> "form-control")
              </div>
            </div>

          <br>
          <div class="col-md-offset-6"><button type="submit" class="btn btn-primary">Crear staff</button></div><br>
</form>
    </div>
</div>



  </div><!-- /.container -->
}

