@(userName: String, staffForm: Form[Staff])

@import views.html.forms._

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
}

@main("Nuevo Staff", moreCss) {
    <!-- Render top navbar -->
    @staffnavbar(userName)

    <div class="container">
      <div class="col-md-10 col-md-offset-2">

        <h1 style="padding-bottom:20px">Crear Personal</h1>
    
        <legend class="text-left">Información Personal</legend>

		@formForStaff(staffForm)
      </div>

  </div><!-- /.container -->
}

