@(patient: Patient, userName: String, studyForm: play.data.Form[Study])

@import views.html.forms._

@moreScripts = {
  <script type="text/javascript" src="@routes.Assets.at("javascripts/uploadStudy.js")"></script>
}

@views.html.layouts.main("Crear Estudio", moreScripts = moreScripts) {
  <!-- Render top navbar -->
  @navbar(userName);

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2>Crear nuevo estudio</h2>
      <br>
      <p><b>Paciente: </b>@patient.getPersonalInfo.getFullName<p>
      @formForNewStudy(studyForm, patient.getId())
    </div>
  </div>
}
