@(patient: Patient)
@moreCss = {
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
}

@defining(patient.getPersonalInfo().getFullName()) { fullName =>
@views.html.layouts.main("Bienvenido", moreCss) {
    <!-- Render top navbar -->
    @navbar(fullName)

    <div class="container">

        <div class="starter-template">
        <h1 style="padding-bottom:20px">@fullName</h1>
    
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#resultados">Resultados</a></li>
        <li><a data-toggle="tab" href="#infoPersonal">Información Personal</a></li>
    </ul>

<div class="tab-content">
         <div id="resultados" class="tab-pane fade in active">
              <div class="col-md-8">
      <h2>2 de febrero de 2014</h2>
      <br>
      <p>
        Toma 1 |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>
      <p>
        Toma 2 |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>
      <p>
        Toma 3 |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>
      <p>
        Toma 4 |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>

      <h2>Comentarios</h2>

      <pre>Toma2 y Toma3 no salen muy bien y requieren una segunda opinión. - Dr. Juanito</pre>
        </div>
        </div>

<div id="infoPersonal" class="tab-pane fade">

<div class="col-md-6 col-xs-12"> 
     <h3>Información Personal</h3><br>

        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Nombre del paciente:</label>
        </div>
        <div class="col-md-6 col-sm-10">
            @fullName
        </div>
        </div>

       <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Dirección:</label>
        </div>
         <div class="col-md-6 col-sm-10">
         @fullName
         </div>
         </div>
        
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Correo Electrónico:</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>

        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Correo Electrónico:</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>

        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Teléfono:</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>

         <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Teléfono:</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>

        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Teléfono:</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>

        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Fecha de Nacimiento:</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>
</div>

<div class="col-md-6 col-xs-12"> 
<h3>Información médica</h3><br>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Edad de inicio de actividad sexual:</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>

     <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Número de embarazos:</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>

   <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Número de césareas:</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>

    <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Número de partos naturales:</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>

   <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Número de abortos:</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>

    <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Edad de inicio de menopausia:</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>

   <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Edad de inicio de periodo menstrual</label>
        </div>
         <div class="col-md-6 col-sm-10">
            @fullName
         </div>
         </div>


</div>

</div>

    </div>

  </div><!-- /.container -->
}
}
