@(userName: String)

@views.html.layouts.main("Contacto") {
    <!-- Render top navbar -->
    @navbar(userName)

    	<form role="form">


    <div class="container">

        <div class="row col-md-9 col-md-offset-3">
        
        <h1>Ajustes</h1>
		<p> Cambia  tu contraseña actual.</p>
		<br>

        <div class="form-group">
            <div class="col-md-3">
              <label for="name" class="control-label">Email:</label>
            </div>
              <div class="col-md-6">
                <input type="text" class="form-control" id="email">
           </div>
       </div>
<br>    

         <div class="form-group">
            <div class="col-md-3">
              <label for="email" class="control-label">Contraseña Actual:</label>
            </div>
              <div class="col-md-4">
                <input type="password" class="form-control" id="old-password">
            </div>
         </div>
<br>
         <div class="form-group">
            <div class="col-md-3">
              <label for="email" class="control-label">Nueva Contraseña:</label>
            </div>
              <div class="col-md-4">
                <input type="password" class="form-control" id="new-password">
            </div>
         </div>


    </div>
  </div><!-- /.container -->
  
<div class="text-center"><br>
<button type="button" class="btn btn-primary">Cambiar Contraseña</button>
</div>
 
  </form>
  
}


