@(id: Long, userName: String)

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
  <link href="@routes.Assets.at("stylesheets/shareStaff.css")" rel="stylesheet">
}


@angular("Paciente", moreCss)(angularCtrl="StaffListCtrl") {
  <!-- Render top navbar -->
  @staffnavbar(userName)

  <div class="container staff-member-search">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-xs-12">
          <div class="input-block-level">
            <input ng-model="query" type="text" class="form-control input-md" placeholder="Personal...">
          </div>
        </div>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->

  <div class="container">

    <div class="col-md-8 col-md-offset-2">
      <table class="table table-hover staff-members">
        <thead>
          <th>Nombre</th>
        </thead>
        <tbody>
          <tr ng-repeat="member in staff | filter: query | orderBy:orderName" class="clickable-row" data-url="#">
            <td ng-click="displayMember(member)"
                ng-class="{ 'selected-member': selectedMember.id == member.id }">
              {{member.name}}</td>
          </tr>
        </tbody>
      </table>

      <div ng-show="selectedMember != null">
        <h3>{{selectedMember.name}}</h3>

        <form role="form" method="GET" action="@routes.Application.showPatient(id)">
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Información Personal
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Información Médica
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Estudios
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-md">Compartir</button>
          <a href="@routes.Application.staff" class="btn btn-default btn-md">Regresar</a>
        </form>
      </div>
    </div>

  </div><!-- /container -->

}
