@(id: Long, userName: String)

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/shareStaff.css")" rel="stylesheet">
}


@views.html.layouts.angular("Paciente", moreCss)(angularApp = "sharePatientApp", angularCtrl="StaffListCtrl") {
  <!-- Render top navbar -->
  @navbar(userName)

  <div class="container staff-member-search">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-xs-12">
          <div class="input-block-level">
            <input ng-model="query" type="text" class="form-control input-md" placeholder="Personal...">
          </div>
        </div>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->

  <div class="container">

    <div class="col-md-8 col-md-offset-2">
      <table class="table table-hover staff-members">
        <thead>
          <th>Nombre</th>
        </thead>
        <tbody>
          <tr ng-repeat="member in staff | filter: query | orderBy:orderName" class="clickable-row" data-url="#">
            <td ng-click="displayMember(member)"
                ng-class="{ 'selected-member': selectedMember.id == member.id }">
              {{fullName(member)}}</td>
          </tr>
        </tbody>
      </table>

    <div ng-if="selectedMember != null" ng-model="selectedMember.id">
        <h3>{{fullName(selectedMember)}}</h3>
        
      <form role="form"  method="POST" action="@routes.Staffs.showPatient(id)">

		<br>
                        
        <ul>
          <div class="form-group">
          
          <div>
              <label>
           <li type=square>Información Personal </li>
              </label>
            	<div class="form-inline">   
          	   		<div class="checkbox" >
                	  	<input type="checkbox" id="checkSlave" ng-checked="personal" ng-disabled="personal"> Ver
                 		<input type="checkbox" ng-model="personal"> Editar
              		</div>
            	</div>  
            </div>  
           
           <div>
           <label>
           <li type=square>Información Médica </li>
              </label>
            	<div class="form-inline">   
          	   		<div class="checkbox" >
                	 	<input type="checkbox" id="checkSlave" ng-checked="medica" ng-disabled="medica"> Ver
                 		<input type="checkbox" ng-model="medica"> Editar
              		</div>
            	</div>     
           </div>
            
            <div>
              <label>
           <li type=square>Estudios </li>
              </label>
            	<div class="form-inline">   
          	   		<div class="checkbox" >
                	 	<input type="checkbox" id="checkSlave" ng-checked="estudios" ng-disabled="estudios"> Ver
                 		<input type="checkbox" ng-model="estudios"> Editar
              		</div>
            	</div>
            </div>     
           
           </ul>
          <br>
          <button type="submit" class="btn btn-primary btn-md">Compartir</button>
          <a href="@routes.Staffs.staff" class="btn btn-default btn-md">Regresar</a>
        </form>
        
         </div>
      </div>
    </div>

  </div><!-- /container -->

}
