@(id: Long, userName: String)

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
}


@views.html.layouts.angular("Bienvenido", moreCss)(angularApp = "staffApp", angularCtrl = "PatientCtrl") {


  <!-- Render top navbar -->
  @navbar(userName)

  <div class="container">

    <div class="row"> 
      <div class="col-md-6">
        <h1 style="padding-bottom:20px">@userName</h1>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="pull-right">
          <div class="col-xs-12">
            <p>
              <a href="@routes.Staffs.sharePatient(id)" class="btn btn-primary btn-md btn-block">Compartir paciente</a>
            </p>
          </div>
          <div class="col-xs-12">
            <p>
              <a href="@routes.Staffs.staff" class="btn btn-default btn-md btn-block">Regresar</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <legend>Información General del Paciente</legend>

    <div class="col-md-6 col-xs-12"> 
      <h3>Información Personal</h3><br>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Nombre del paciente:</label>
        </div>
        <div class="col-md-6 col-xs-6">
        <a href="#" editable-text="fullName" buttons="no">{{fullName}}</a>
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Dirección:</label>
        </div>
        <div class="col-md-6 col-xs-6">
        <a href="#" editable-textarea="address">{{ address }}</a>
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Correo Electrónico:</label>
        </div>
        <div class="col-md-6 col-xs-6">
        <a href="#" editable-email="email" buttons="no">{{ email }}</a>
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Teléfono:</label>
        </div>
        <div class="col-md-6 col-xs-6">
        <a href="#" editable-tel="telephone" buttons="no">{{ telephone }}</a>
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Fecha de Nacimiento:</label>
        </div>
        <div class="col-md-6 col-xs-6">
        <a href="#" editable-date="birthdate" buttons="no">{{ birthdate }}</a>
        </div>
      </div>
    </div><!-- end of .col-md-6 -->

    <div class="col-md-6 col-xs-12"> 
      <h3>Información médica</h3><br>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Edad de inicio de actividad sexual:</label>
        </div>
        <div class="col-md-6 col-xs-6">
        <a href="#" editable-text="sexualActivityStartAge" buttons="no">{{ sexualActivityStartAge }} </a>años
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Número de embarazos:</label>
        </div>
        <div class="col-md-6 col-xs-6">
        <a href="#" editable-select="pregnancies" buttons="no" e-ng-options="p.value as p.text for p in options">
    {{ pregnancies }} </a>embarazos
        </div>
      </div>
      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Número de césareas:</label>
        </div>
        <div class="col-md-6 col-xs-6">
        <a href="#" editable-select="cSections" buttons="no" e-ng-options="c.value as c.text for c in options">
    {{ cSections }} </a>césareas
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Número de partos naturales:</label>
        </div>
        <div class="col-md-6 col-xs-6">
     <a href="#" editable-select="naturalDeliveries" buttons="no" e-ng-options="l.value as l.text for l in options">
    {{ naturalDeliveries }} </a>partos
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Número de abortos:</label>
        </div>
        <div class="col-md-6 col-xs-6">
     <a href="#" editable-select="abortions" buttons="no" e-ng-options="a.value as a.text for a in options">
    {{ abortions }} </a>abortos
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Edad de inicio de menopausia:</label>
        </div>
        <div class="col-md-6 col-xs-6">
        <a href="#" editable-text="menopauseStartAge" buttons="no">{{ menopauseStartAge }} </a>años
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Edad de inicio de periodo menstrual</label>
        </div>
        <div class="col-md-6 col-xs-6">
        <a href="#" editable-text="menstrualPeriodStartAge" buttons="no">{{ menstrualPeriodStartAge }} </a>años
        </div>
      </div>
    </div><!-- end of .col-md-6 -->


    <legend>Estudios del Paciente</legend>

        <div class="col-md-8" ng-repeat="study in patient.studies">
      <h2>{{studyDate(study)}}</h2>
      <a href="@routes.Staffs.study(id, 20)">Ver detalle de estudio</a>
      <br>
      <br>
      <p ng-repeat="mammogram in study.mammograms">
        Mamografía {{mammogramId(mammogram)}} |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>

      <h2>Comentarios</h2>

      <pre ng-repeat= "comment in study.comments">{{comments(comment)}}</pre>
        </div>

    <center>
      <button type="button" class="btn btn-success">Enviar al sistema de diagnóstico</button>
    </center>

  </div><!-- /.container -->
}


