@(study: Study, mammogram: Mammogram, userName: String)

@moreScripts = {
  <script type="text/javascript" src="@routes.Assets.at("javascripts/displayMammogram.js")"></script>
 }

@views.html.layouts.main("Mamografía", moreScripts = moreScripts) {
    <!-- Render top navbar -->
    @navbar(userName)
<ul class="center-block">
<li><a href="#" class="annotation btn btn-info" data-container="body" data-html="true" data-toggle="popover" data-placement="bottom" data-content="1. Mamografía muestra ligero cambio.<br />2. Erupciones en el lado derecho.">
  Anotaciones
</a></li>
</ul>
<img class="img-responsive center-block" id="mammogram" src="@routes.Staffs.renderMammogram(study.getId(), mammogram.getId())"/>

}
