@(id: Long, userName: String)

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
}


@main("Paciente", moreCss) {
  <!-- Render top navbar -->
  @staffnavbar(userName)

  <div class="container">

    <div class="row"> 
      <div class="col-md-6">
        <h1 style="padding-bottom:20px">@userName</h1>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="pull-right">
          <div class="col-xs-12">
            <p>
              <a href="@routes.Application.sharePatient(id)" class="btn btn-primary btn-md btn-block">Compartir paciente</a>
            </p>
          </div>
          <div class="col-xs-12">
            <p>
              <a href="@routes.Application.staff" class="btn btn-default btn-md btn-block">Regresar</a>
            </p>
          </div>
          <div class="col-xs-12">
            <p>
              <a href="@routes.Application.editPatient(id)" class="btn btn-warning btn-md btn-block">Editar paciente</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <legend>Información General del Paciente</legend>

    <div class="col-md-6 col-xs-12"> 
      <h3>Información Personal</h3><br>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Nombre del paciente:</label>
        </div>
        <div class="col-md-6 col-xs-6">
          @userName
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Dirección:</label>
        </div>
        <div class="col-md-6 col-xs-6">
          @userName
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Correo Electrónico:</label>
        </div>
        <div class="col-md-6 col-xs-6">
          @userName
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Teléfono:</label>
        </div>
        <div class="col-md-6 col-xs-6">
          @userName
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Fecha de Nacimiento:</label>
        </div>
        <div class="col-md-6 col-xs-6">
          @userName
        </div>
      </div>
    </div><!-- end of .col-md-6 -->

    <div class="col-md-6 col-xs-12"> 
      <h3>Información médica</h3><br>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Edad de inicio de actividad sexual:</label>
        </div>
        <div class="col-md-6 col-xs-6">
          @userName
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Número de embarazos:</label>
        </div>
        <div class="col-md-6 col-xs-6">
          @userName
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Número de césareas:</label>
        </div>
        <div class="col-md-6 col-xs-6">
          @userName
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Número de partos naturales:</label>
        </div>
        <div class="col-md-6 col-xs-6">
          @userName
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Número de abortos:</label>
        </div>
        <div class="col-md-6 col-xs-6">
          @userName
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Edad de inicio de menopausia:</label>
        </div>
        <div class="col-md-6 col-xs-6">
          @userName
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <label for="patientName" class="col-md-12 control-label">Edad de inicio de periodo menstrual</label>
        </div>
        <div class="col-md-6 col-xs-6">
          @userName
        </div>
      </div>
    </div><!-- end of .col-md-6 -->


    <legend>Estudios del Paciente</legend>


    <div class="col-md-12 col-xs-12"> 
      <h2>2 de febrero de 2014</h2>
      <a href="@routes.Application.study(id, 20)">Ver detalle de estudio</a>
      <div class="patient-study-summary" style="margin-top: 10px">
        <p>
          Toma 1 |
          <a href="#">Abrir</a> | 
          <a href="#">Descargar</a>
        </p>
        <p>
          Toma 2 |
          <a href="#">Abrir</a> | 
          <a href="#">Descargar</a>
        </p>
        <p>
          Toma 3 |
          <a href="#">Abrir</a> | 
          <a href="#">Descargar</a>
        </p>
        <p>
          Toma 4 |
          <a href="#">Abrir</a> | 
          <a href="#">Descargar</a>
        </p>
      </div>
    </div><!-- end of .col-md-6 -->

    <center>
      <button type="button" class="btn btn-success">Enviar al sistema de diagnóstico</button>
    </center>

  </div><!-- /.container -->
}

