@(id: Long, userName: String)

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
}

@views.html.layouts.angular("Bienvenido", moreCss)(angularApp = "form_app", angularCtrl = "FormCtrl") {


    <!-- Render top navbar -->
    @navbar(userName)

    <div class="container">

        <div class="row">
    <div class="col-md-6 pull-right">
        <div class="pull-right">
            <div class="col-xs-12">
            <p>
              <a href="" class="btn btn-warning btn-md btn-block">Editar staff</a>
            </p>
            </div>
           <div class="col-xs-12">
            <p>
              <a href="" class="btn btn-danger btn-md btn-block">Borrar staff</a>
            </p>
          </div>
            <div class="col-xs-12">
            <p>
              <a href="" class="btn btn-default btn-md btn-block">Regresar</a>
            </p>
          </div>
      </div>


    </div> 

    <div class="col-md-6 col-xs-12">


     <h3>Información Personal</h3><br>

        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Nombre:</label>
        </div>
        <div class="col-md-6 col-sm-10">
        <a href="#" editable-text="staff.staffName" buttons="no">{{ staff.staffName || 'empty' }}</a>
        </div>
        </div>

       <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Dirección:</label>
        </div>
         <div class="col-md-6 col-sm-10">
        <a href="#" editable-textarea="staff.staffAdress">{{ staff.staffAdress || 'empty' }}</a>
         </div>
         </div>
        
        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Correo Electrónico:</label>
        </div>
         <div class="col-md-6 col-sm-10">
        <a href="#" editable-email="staff.email" buttons="no">{{ staff.email || 'empty' }}</a>
         </div>
         </div>

        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Teléfono:</label>
        </div>
         <div class="col-md-6 col-sm-10">
        <a href="#" editable-tel="staff.phone" buttons="no">{{ staff.phone || 'empty' }}</a>
         </div>
         </div>

        <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Fecha de Nacimiento:</label>
        </div>
         <div class="col-md-6 col-sm-10">
        <a href="#" editable-date="staff.bd" buttons="no">{{ staff.bd || 'empty' }}</a>
         </div>
         </div>

         <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Rol:</label>
        </div>
         <div class="col-md-6 col-sm-10">
     <a href="#" editable-select="staff.role" buttons="no" e-ng-options="r.value as r.text for r in roles">
    {{ staff.role }} </a>

         </div>
         </div>

          <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">RFC:</label>
        </div>
         <div class="col-md-6 col-sm-10">
        <a href="#" editable-text="staff.rfc" buttons="no">{{ staff.rfc || 'empty' }}</a>
         </div>
         </div>

          <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
        <label for="patientName" class="col-md-12 control-label">Cédula:</label>
        </div>
         <div class="col-md-6 col-sm-10">
        <a href="#" editable-text="staff.cedula" buttons="no">{{ staff.cedula || 'empty' }}</a>
         </div>
         </div>


     </div>
</div>

  </div><!-- /.container -->

}
