@(userName: String)

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/staff.css")" rel="stylesheet">
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
}

@views.html.layouts.angular("Bienvenido", moreCss)(angularApp = "staffApp", angularCtrl = "PatientListCtrl") {
    <!-- Render top navbar -->
    @staffnavbar(userName)
    
    @if(flash.contains("success")) {
      <p class="success">
          @flash.get("success")
      </p>
    }

    <div class="container staff-patient-search">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="col-xs-12 col-md-3">
            <a href="@routes.Staffs.newPatient" class="btn btn-primary btn-md btn-block">Crear paciente</a>
            <br>
          </div>
          <div class="col-xs-12 col-md-9">
            <div class="input-block-level">
              <input ng-model="query" type="text" class="form-control input-md" placeholder="Paciente...">
            </div>
          </div>
        </div>
      </div> <!-- /row -->
    </div> <!-- /container -->

    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-12">
          <div class="col-xs-12 col-md-6 staff-patient-types-wrap">
            <div class="col-xs-6 staff-patient-types">
              Compartidos
            </div>
            <div class="col-xs-6 staff-patient-types staff-patient-type-own">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 staff-patient-types-wrap">
            <div class="col-xs-6 staff-patient-types">
              Propios
            </div>
            <div class="col-xs-6 staff-patient-types staff-patient-type-shared">
            </div>
          </div>
        </div>
        <table class="table table-hover staff-patients">
          <thead>
            <th>Nombre</th>
            <th>Número de estudios</th>
          </thead>
          <tbody>
            <tr ng-repeat="patient in patients | filter:query | orderBy:orderName" class="clickable-row {{cssClass(patient.own)}}" ng-click="show(patient)">
              <td>{{fullName(patient)}}</td>
              <td>{{numberOfStudiesText(patient)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- /container -->

}
