@(id: Long, userName: String)

@moreCss = {
  <link href="@routes.Assets.at("stylesheets/navbar.css")" rel="stylesheet">
}

@main("Estudio", moreCss) {
  <!-- Render top navbar -->
  @staffnavbar(userName)

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2>2 de febrero de 2014</h2>
      <br>
      <p>
        Toma 1 |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>
      <p>
        Toma 2 |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>
      <p>
        Toma 3 |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>
      <p>
        Toma 4 |
        <a href="#">Abrir</a> | 
        <a href="#">Descargar</a>
      </p>

      <!--<a href="#">+ Agregar otra toma</a>-->
      <label for="filesToUpload">Agregar otra mamografía</label>
      <input type="file" id="filesToUpload" multiple="">
      <p class="help-block">Imágenes deben pesar menos de 80 MB</p>

      <h2>Comentarios</h2>

      <textarea class="form-control" placeholder="Comentarios sobre el estudio..." rows="5"></textarea>
      <br>
      <button type="button" class="btn btn-primary">Agregar comentario</button>

      <div class="col-md-12" style="margin: 10px 0 10px 0;">Toma2 y Toma3 no salen muy bien y requieren una segunda opinión. - <b>Dr. Juanito</b> <button class="btn btn-default btn-sm">Remover</button></div>
      <br>

      <a class="btn btn-success" href="@routes.Application.showPatient(id)">Guardar</a>
      <a class="btn btn-default" href="@routes.Application.showPatient(id)">Regresar</a>
      <a class="btn btn-danger" href="@routes.Application.showPatient(id)">Borrar</a>
    </div>
  </div>

}
