@(id: Long, userName: String, study: Study)

@views.html.layouts.main("Estudio") {
  <!-- Render top navbar -->
  @navbar(userName)

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h2>2 de febrero de 2014</h2>
      @for(mammogram <- study.getMammograms) {
        <p>
          @mammogram.getId |
          <a href="@routes.Staffs.showMammogram(study.getId, mammogram.getId)">Abrir</a> |
          <a href="@routes.Staffs.renderMammogram(study.getId, mammogram.getId)" download="@{study.getCreatedAt}_@{study.getId}_@{mammogram.getId}">Descargar</a>
        </p>

      }
      <label for="filesToUpload">Agregar otra mamografía</label>
      <input type="file" id="filesToUpload" multiple="">
      <p class="help-block">Imágenes deben pesar menos de 80 MB</p>

      <h2>Comentarios</h2>

      <textarea class="form-control" placeholder="Comentarios sobre el estudio..." rows="5"></textarea>
      <br>
      <button type="button" class="btn btn-primary">Agregar comentario</button>
      <br><br>

      <!--<div class="col-md-12" style="margin: 10px 0 10px 0;">Toma2 y Toma3 no salen muy bien y requieren una segunda opinión. - <b>Dr. Juanito</b> <button class="btn btn-default btn-sm">Remover</button></div>-->
      @for(comment <- study.getComments) {
        <div class"col-md-8">
          <pre>@comment.getContent - <b>@comment.getCommenter.getRole.capitalize @comment.getCommenter</b></pre>
        </div>
        <div class="col-md-4">
          <button class="btn btn-default btn-sm">Remover</button>
        </div>
      }
      <br>

      <a class="btn btn-primary" href="@routes.Staffs.showPatient(study.getOwner.getId)">Guardar</a>
      <a class="btn btn-default" href="@routes.Staffs.showPatient(study.getOwner.getId)">Regresar</a>
    </div>
  </div>

}
