@()

<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/affix.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/alert.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/button.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/carousel.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/collapse.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/dropdown.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/tab.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/transition.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/scrollspy.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/modal.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/tooltip.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/popover.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/moment-with-langs.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/spin.js")"></script> 
<script type="text/javascript" src="@routes.Application.jsRoutes"></script>
